<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SJ.App.Buzzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SJ.App.Buzzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
        <SJ.App.Buzzer.Properties.Settings>
            <setting name="TimerRedraw" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimerPollBuzzer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ColorButtonBlue" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="ColorButtonOrange" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="ColorButtonGreen" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ColorButtonYellow" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ColorButtonPressed" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorBuzzer" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorBuzzerPressed" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </SJ.App.Buzzer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SJ.App.Buzzer.Properties.Settings>
            <setting name="CountdownMax" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="SoundButtonStopCountdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EndCountdownStartBuzzer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player1" serializeAs="String">
                <value>Player #1</value>
            </setting>
            <setting name="Player2" serializeAs="String">
                <value>Player #2</value>
            </setting>
            <setting name="Player3" serializeAs="String">
                <value>Player #3</value>
            </setting>
            <setting name="Player4" serializeAs="String">
                <value>Player #4</value>
            </setting>
            <setting name="Player5" serializeAs="String">
                <value>Player #5</value>
            </setting>
            <setting name="Player6" serializeAs="String">
                <value>Player #6</value>
            </setting>
            <setting name="Player7" serializeAs="String">
                <value>Player #7</value>
            </setting>
            <setting name="Player8" serializeAs="String">
                <value>Player #8</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
        </SJ.App.Buzzer.Properties.Settings>
    </userSettings>
</configuration>
